<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <link rel="shortcut icon" href="./logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
    <script src="./global.js"></script>
    <title>HNet Web</title>

<script defer src="assets/vendor.min.js"></script><script defer src="assets/index.min.js"></script><script defer src="assets/dis.min.js"></script></head>

<body>
    <div id="root" v-cloak class="container">
        <!-- -webkit-backdrop-filter: blur(5px);	
    backdrop-filter: blur(5px); -->
        <section class="box">
            <div class="title">
                <a href="https://github.com/hideipnetwork" target="_blank" rel="noopener noreferrer" title="部署同款服务">HNet Web</a>
                <div class="tico">
                    <svg v-if="mode == 'night'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-moon-stars" viewBox="0 0 16 16">
                        <path
                            d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                        <path
                            d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                    </svg>
                    <svg v-if="mode == 'daytime'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
                        <path
                            d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                    </svg>
                </div>
            </div>
            <div class="input" :class="foucs?'input-none':''">
                <div class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
                <input type="text" :class="foucs?'input-none':''" :class="[errStatus ? 'err' : '']" @input="handleInput"
                    @blur="checkBlur" @focus="checkFocus" v-model="val" @keyup.enter="handleCheck"
                    @keyup.down="handleDown" @keyup.up="handleUp" :placeholder="pld">
                <div class="word" v-if="wordShow">
                    <div v-for="(item,indexs) in wdArr" :key="indexs" class="words"
                        :class="[kindex == indexs ? 'val-choose':'']" @click="handleChoose(item,indexs)"
                        @keyup.enter="handleChoose(item,indexs)">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </div>
                        <div style="font-size: 14px;margin-left: 15px;">{{item.text}}</div>
                    </div>
                </div>
            </div>
            <div class="bookmark" v-show="bookmark">
                <div class="mbox" v-for="(it,index) in bookArr">
                    <div class="img">
                        <img :src="it.icon" alt="" srcset="" @click="addBook(index,it)">
                        <div class="edit" @click="editShow(index)" v-if="index !== bookArr.length - 1">...</div>
                        <div class="dlog" @mouseleave="leave" :class="current == index ? 'dlogShow' : 'dlogClose'">
                            <div @click="mobifBook(it)">修改</div>
                            <div @click="moveBook(it,index)">移除</div>
                        </div>
                    </div>
                    <div class="text" @click="addBook(index,it)">{{it.name}}</div>
                </div>
            </div>
        </section>
        <!-- diglog -->
        <div class="modal" v-if="digLog" v-cloak>
            <div class="mobox">
                <h3>添加快捷方式</h3>
                <div>
                    <p><span style="color: #b83941;">*</span> 名称</p>
                    <input id="inpt" type="text" placeholder="请输入名称" v-model="bookObj.title" @focus="dwar1 = false">
                    <span class="dwar" v-show="dwar1">信息错误</span>
                </div>
                <div>
                    <p><span style="color: #b83941;">*</span> 网址</p>
                    <input id="inpt" type="text" placeholder="https://www.google.com" v-model="bookObj.siteLink"
                        @focus="dwar2 = false">
                    <span class="dwar" v-show="dwar2">信息错误</span>
                </div>
                <div class="bc">
                    <div @click="cancelBook">取消</div>
                    <div @click="handleAdd">完成</div>
                </div>
            </div>
        </div>
        <!-- contact -->
        <div class="contact" v-if="contactShow">
            <div class="ig" v-for="(its, id) in footArr" :key="its.id">
                <a :href="its.url" target="_blank" rel="noopener noreferrer">
                    <img :src="its.img" :alt="its.alt" srcset="">
                </a>
            </div>
            <div class="hideip" v-if="initPwdShow">密码 {{initPwd}}</div>
        </div>
    </div>
    <script src="server/server.bundle.js"></script>
</body>

</html>