* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Abril Fatface', cursive;
}

body {
    overflow-x: hidden;
}

.container {
    background: #e6e7ee;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.content {
    position: relative;
    width: 100vw;
    height: 640px;
    min-height: 640px;
    margin-bottom: 64px;
}

.val-choose {
    color: #404dae;
    font-size: 1.1rem;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .time {
    text-align: center;
    font-size: 64px;
    margin: 0 0 8px 0;
}

.box .inp input {
    width: 480px;
    height: 45px;
    outline: none;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #c3cce3;
    -webkit-box-shadow: 12px 12px 12px #c2c9db, -12px -12px 12px #e0e7fd;
    box-shadow: 12px 12px 12px #c2c9db, -12px -12px 12px #e0e7fd;
}

.box .inp {
    position: relative;
}

.box .inp .list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-height: 25vh;
    height: auto;
    min-width: 470px;
    overflow-y: scroll;
    background: #ffffff;
    box-shadow: 20px 20px 93px #bebebe,
        -20px -20px 93px #ffffff;
    padding: 10px;
    z-index: -1;
}

.box .inp .list div {
    margin: 5px 0;
    cursor: pointer;
}

.box .inp .list div:hover {
    font-weight: bold;
    color: #374382;
}

.box .inp .list::-webkit-scrollbar {
    width: 1px;
}

.err input::placeholder {
    color: #ff0029;
}

.box .inp img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.bookmark {
    position: absolute;
    width: 480px;
    height: 240px;
    top: 70%;
    left: 50%;
    margin-top: -30px;
    margin-left: -240px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bookmark::-webkit-scrollbar {
    width: 0;
}

.bindex {
    z-index: -99 !important;
}

.bookmark .book {
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 12px;
    cursor: pointer;
}

.book .bimg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}

.book .bimg .edit {
    position: absolute;
    right: -20px;
    top: 0px;
    z-index: 3;
    cursor: pointer;
    transform: rotate(90deg);
    color: #ffffff;
}

.book .bimg .edit:hover {
    color: #030303;
}

.book .bimg .dlog {
    display: none;
    position: absolute;
    right: -14px;
    top: 0;
    width: 90px;
    height: 60px;
    background-color: #f9f9f9;
    cursor: pointer;
    z-index: 4;
    -webkit-box-shadow: 9px 9px 5px #c4cbde, -9px -9px 5px #dee5fa;
    box-shadow: 9px 9px 5px #c4cbde, -9px -9px 5px #dee5fa;
}

.dlogShow {
    display: block !important;
}

.dlogClose {
    display: none !important;
}

.book .bimg .dlog div {
    width: 90px;
    height: auto;
    padding: 5px;
    color: #404dae;
    background-color: #f2f2f5;
}

.book .bimg .dlog div:hover {
    font-weight: bold;
    color: #d7566c;
    transform: scale(1.1)
}

.book .bimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.book .bimg .noimg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 60px;
    background-color: #D1D8EC;
    color: #f2f2f5;
}

.book .btext {
    width: 88px;
    margin-top: 5px;
    height: auto;
    background-color: #dddde7;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.album {
    position: relative;
    width: 100vw;
    height: auto;
}

.album h2 {
    text-align: center;
    font-weight: bold;
    margin: 10px 0 30px 0;
}

.album .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 !important;
}

.album .imgs-box {
    width: 350px;
    height: 300px;
    margin: 20px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #D1D8EC;
    -webkit-box-shadow: 9px 9px 5px #c4cbde, -9px -9px 5px #dee5fa;
    box-shadow: 9px 9px 5px #c4cbde, -9px -9px 5px #dee5fa;
}

.album .imgs-box img {
    padding: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.55rem !important;
}

.about {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 20px 0;
}

.about h2 {
    text-align: center;
}

.about .about-box {
    padding: 15px 20px;
    width: 55%;
    margin: 20px auto;
    height: auto;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #e6e7ee;
    -webkit-box-shadow: inset 9px 9px 13px #bcc2d4, inset -9px -9px 13px #e6eeff;
    box-shadow: inset 9px 9px 13px #bcc2d4, inset -9px -9px 13px #e6eeff;
}

.about .about-box div {
    margin: 10px 0;
}

.sponsor {
    position: relative;
    width: 100vw;
    min-height: 50vh;
    margin-top: 50px;
}

.sponsor h2 {
    text-align: center;
}

.sponsor .sbox {
    margin: 0 auto;
    padding: 20px 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.sponsor .simg {
    margin: 25px;
    width: 120px;
    height: 120px;
}

.sponsor .simg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer {
    position: relative;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #d1cfcf;
    padding: 0 50px;
}

.footer a {
    text-decoration: none;
    margin: 0 20px;
}

.footer img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.transalte {
    position: fixed;
    bottom: 0;
}

.setting {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 1;
}

.setting .setlist {
    width: auto;
    min-width: 240px;
    height: auto;
    padding: 8px;
    position: absolute;
    bottom: 30px;
    left: 0;
    background: #e6e7ee;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.setting .setlist .s-box {
    margin: 10px;
}

.setting .setlist .s-box span {
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

.setting .left-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.setting .left-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.setlist .title {
    margin: 8px 0;
}

/* code */
.setting .code-box {
    margin: 10px;
}

.setting .codes-box {
    display: flex;
}

.setting .code-box input {
    width: 50px;
    margin: 0 10px;
    outline: none;
    border-radius: 5px;
}

.setting .code-box button {
    width: auto;
    padding: 2px 8px;
    border-radius: 5px;
}

.setting .code-box .verify {
    margin: 5px 0;
    color: #df526c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

/* model css */
.modal {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.modal .mbox {
    margin: auto;
    width: 400px;
    height: auto;
    background-color: #f3f3f4;
    box-shadow: 0 0 16px rgb(0 0 0 / 12%), 0 16px 16px rgb(0 0 0 / 24%);
    border-radius: 8px;
    padding: 15px;
}

.modal .mbox div {
    margin: 12px 0;
}

.modal .mbox div input {
    width: 370px;
    max-width: 370px;
    margin: 0em;
    padding: 5px 2px;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    writing-mode: horizontal-tb !important;
    outline: none;
    border: none;
}

.modal .mbox .dwar {
    font-weight: 300;
    font-size: 10px;
    color: #c03f55d7;
}

.bc {
    display: flex;
    justify-content: right;
}

.bc div {
    padding: 5px 10px;
    cursor: pointer;
    border-color: #D1D9E6;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}

.bc div:nth-child(1) {
    color: #e6e7ee;
    border: 1px;
    border-radius: 5px;
    background-color: #bcc2d4;
}

.bc div:nth-child(2) {
    margin-left: 12px;
    color: #f9f9fa;
    border: 1px;
    border-radius: 5px;
    background-color: #404dae;
}

@media screen and (max-width:750px) {
    .header {
        display: none;
    }

    .content {
        position: relative;
        width: 100vw;
    }

    .box .inp input {
        width: 300px;
        height: 45px;
        outline: none;
        padding: 0 10px;
        border-radius: 10px;
        border: 1px solid #c3cce3;
        -webkit-box-shadow: 12px 12px 12px #c2c9db, -12px -12px 12px #e0e7fd;
        box-shadow: 12px 12px 12px #c2c9db, -12px -12px 12px #e0e7fd;
    }

    .box .inp .list {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-height: 30vh;
        min-width: 290px;
        overflow-y: scroll;
        background: #ffffff;
        box-shadow: 20px 20px 93px #bebebe,
            -20px -20px 93px #ffffff;
        padding: 10px;
        z-index: -1;
    }

    .album .img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* margin: 20px 50px; */
    }

    .album .imgs-box {
        width: 450px;
        height: 300px;
        margin: 20px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        background: #D1D8EC;
        -webkit-box-shadow: 9px 9px 5px #c4cbde, -9px -9px 5px #dee5fa;
        box-shadow: 9px 9px 5px #c4cbde, -9px -9px 5px #dee5fa;
    }

    .album .imgs-box img {
        padding: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0.55rem !important;
    }

    .about .about-box {
        padding: 15px 20px;
        width: 95%;
        margin: 20px auto;
        height: auto;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        background: #e6e7ee;
        -webkit-box-shadow: inset 9px 9px 13px #bcc2d4, inset -9px -9px 13px #e6eeff;
        box-shadow: inset 9px 9px 13px #bcc2d4, inset -9px -9px 13px #e6eeff;
    }

    .bookmark {
        display: none;
    }

    .sponsor {
        position: relative;
        width: 100vw;
        min-height: 50vh;
        margin-top: 50px;
    }

    .sponsor h2 {
        text-align: center;
    }

    .sponsor .sbox {
        margin: 0 auto;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .sponsor .simg {
        margin: 25px;
        width: 120px;
        height: 120px;
    }

    .sponsor .simg img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .setting {
        display: none;
    }

}

[v-cloak] {
    display: none !important;
}